.heading{
    text-align: center;
    color: #212EA0;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 70px 0 30px;
}

.heading h2{
    font-size: 32px;
    color: #3e5121;
    margin-top: 5-px;
    text-transform: none;
}

