.diff{
    width: 100%;
    min-height:  100vh;
    background: linear-gradient(rgba(195, 220, 201, 0.047),rgba(79, 163, 167, 0.534)), url('../../assets/index-body-img1.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: left;
}